@model serverSideCapstone.Models.ViewModels.MessageIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Your Messages</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h3>Received Messages</h3>
<table class="table">
    <tbody>
@foreach(var xxx in Model.ReceivedMessages)
{
     <tr>
            <td>
                @xxx.Text
            </td>
            <td>
                @xxx.TimeMessageSent
            </td>
        </tr>
}
    </tbody>
</table>
<h3>Sent Messages</h3>
<table class="table">
    <tbody>
@foreach (var yyy in Model.SentMessages) {
        <tr>
            <td>
                @yyy.Text
            </td>
            <td>
                @yyy.TimeMessageSent
            </td>
        </tr>
}
    </tbody>
</table>

