@model IEnumerable<serverSideCapstone.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
    <table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeMessageSent)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var sentMessages in Model) {
        <tr>
            <td>
                @sentMessages.Text
            </td>
            <td>
                @sentMessages.TimeMessageSent
            </td>
        </tr>
}
    </tbody>
</table>
